/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

a:hover {
  color: inherit;
  text-decoration: none; }

#particle-js {
  height: 100vh; }

#header {
  height: 350px; }
  @media (min-width: 768px) {
    #header {
      height: 800px; } }
  #header .welcome {
    position: absolute;
    top: 26%;
    width: 100%;
    max-width: 600px;
    padding: 0 25px; }
    @media (min-width: 576px) {
      #header .welcome {
        top: 32%;
        width: 70%;
        left: 40px; } }
    @media (min-width: 768px) {
      #header .welcome {
        top: 40%;
        width: 60%;
        left: 100px; } }
  #header .welcome-headline {
    color: #ffffff;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0;
    font-weight: 300;
    margin-bottom: 0;
    -webkit-animation: fadein 5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s;
    /* Firefox < 16 */
    -ms-animation: fadein 5s;
    /* Internet Explorer */
    -o-animation: fadein 5s;
    /* Opera < 12.1 */
    animation: fadein 5s; }
    @media (min-width: 768px) {
      #header .welcome-headline {
        font-size: 55px;
        line-height: 64px; } }
  #header .welcome-subheadline {
    font-size: 23px;
    line-height: 28px;
    opacity: 0.7;
    padding-top: 20px; }
    @media (min-width: 768px) {
      #header .welcome-subheadline {
        line-height: 30px; } }

@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.9; } }
@-moz-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.9; } }
@-o-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.9; } }
@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.9; } }
.menu {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 50px;
  top: 40px;
  z-index: 100; }
  .menu div {
    background: #ffffff;
    height: 4px;
    width: 45px;
    margin-top: 10px; }
  .menuhover #line2 {
    background: green; }

.navigation {
  background: black;
  width: 80px;
  height: 270px;
  position: absolute;
  right: 37px;
  top: -183;
  padding-top: 10px;
  opacity: 0; }
  @media (min-width: 768px) {
    .navigation {
      right: 21px;
      width: 100px;
      background: rgba(0, 0, 0, 0.65); } }
  .navigation svg {
    display: block;
    margin: 0 auto; }

.tooltip-container {
  background: #666;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  position: relative;
  left: -100px;
  top: -47px;
  visibility: hidden; }

#profile {
  padding: 100px 20px 20px; }
  #profile h1 {
    font-weight: 300; }
  #profile p {
    font-size: 19px;
    line-height: 24px; }
    @media (min-width: 768px) {
      #profile p {
        font-size: 23px;
        line-height: 30px;
        max-width: 750px; } }

body {
  font-family: "futura-pt";
  background: #252525;
  color: #ffffff;
  background: #11092e;
  background: -moz-linear-gradient(90deg, #11092e 0%, #0e071f 100%);
  background: -webkit-linear-gradient(90deg, #11092e 0%, #0e071f 100%);
  background: linear-gradient(90deg, #11092e 0%, #0e071f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#11092e",endColorstr="#0e071f",GradientType=1); }
  body p {
    font-weight: 300;
    font-size: 24px; }
    body p span {
      color: #a5cc82;
      font-weight: bold; }

.button {
  display: inline-block;
  background-color: transparent;
  color: #e6e4ec;
  overflow: visible;
  border: 1px solid rgba(238, 232, 255, 0.57);
  transition: background-color 0.3s ease, color 0.3s ease;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 10px 20px;
  margin: 20px 10px 40px 0;
  font-size: 12px;
  line-height: 30px; }
  @media (min-width: 768px) {
    .button {
      padding: 10px 30px;
      margin: 20px 40px 40px 0; } }

.logo {
  width: 100px;
  display: block;
  margin: 0 auto;
  padding: 24px 0;
  -webkit-animation: fadein 5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s;
  /* Firefox < 16 */
  -ms-animation: fadein 5s;
  /* Internet Explorer */
  -o-animation: fadein 5s;
  /* Opera < 12.1 */
  animation: fadein 5s; }
  @media (min-width: 768px) {
    .logo {
      margin-left: 0;
      display: inline-block;
      width: 50px; } }

.name2 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  -webkit-animation: fadein 5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s;
  /* Firefox < 16 */
  -ms-animation: fadein 5s;
  /* Internet Explorer */
  -o-animation: fadein 5s;
  /* Opera < 12.1 */
  animation: fadein 5s; }
  @media (min-width: 768px) {
    .name2 {
      text-align: left;
      display: inline-block;
      padding-left: 24px;
      font-size: 24px; } }

.navigation ul {
  list-style: none;
  margin-top: 24px;
  display: none; }
  .navigation ul li {
    display: inline;
    padding: 10px;
    text-align: right; }
    .navigation ul li a {
      color: #ffffff;
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase; }

#skill {
  height: 200px;
  display: flex; }
  #skill .col-12 {
    justify-content: space-evenly; }
  #skill .skill-icons {
    width: 120px;
    margin: 0 32px; }

#work {
  padding: 120px; }

.work-row {
  padding: 30px 20px;
  background: rebeccapurple;
  margin-bottom: 20px; }

#footer p {
  font-size: 14px;
  padding-top: 40px;
  padding-bottom: 40px; }

/*# sourceMappingURL=styles.css.map */
