@mixin background-image($image) {
    background: url($image) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin rgba-background($hexcolor, $opacity) {
  background-color: $hexcolor;
  background-color: rgba($hexcolor, $opacity); 
}

@mixin animation($effect, $time) {
  -webkit-animation: $effect $time; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: $effect $time; /* Firefox < 16 */
  -ms-animation: $effect $time; /* Internet Explorer */
  -o-animation: $effect $time; /* Opera < 12.1 */
   animation: $effect $time;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
      @content;
  }
  @-moz-keyframes #{$animationName} {
      @content;
  }
  @-o-keyframes #{$animationName} {
      @content;
  }
  @keyframes #{$animationName} {
      @content;
  }
}

@mixin box-shadow($property) {
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
  -ms-box-shadow: $property;
  -o-box-shadow: $property;
  box-shadow:$property;
}
@mixin linear-gradient( $direction, $start, $end, $fallback) {
  background: $fallback;
  background: -webkit-linear-gradient($direction, $start, $end);
  background: -moz-linear-gradient($direction, $start, $end);
  background: -ms-linear-gradient($direction, $start, $end);
  background: -o-linear-gradient($direction, $start, $end);
  background: linear-gradient($direction, $start, $end);
}
@mixin background-image($property) {
  background: $property;
    -webkit-background-size: cover; 
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}