@import "bootstrap/_functions.scss";
@import "bootstrap/_variables.scss";
@import "bootstrap/mixins/_breakpoints.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_particles.scss";


// Global Styles
a:hover {
  color: inherit;
  text-decoration: none;
}

//=====================//
// Header Styles //
//=====================//
#particle-js {
  height: 100vh;
}
#header {
  height: 350px;
  @include media-breakpoint-up(md) { height: 800px};
  .welcome {
    position: absolute;
    top: 26%;
    width: 100%;
    max-width: 600px;
    padding: 0 25px;
    @include media-breakpoint-up(sm) { 
      top: 32%;
      width: 70%;
      left: 40px;
    };
    @include media-breakpoint-up(md) { 
      top: 40%;
      width: 60%;
      left: 100px;
    };
  }
  .welcome-headline {
    color: $white;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0;
    font-weight: 300;
    margin-bottom: 0;
    @include animation(fadein, 5s);
    @include media-breakpoint-up(md) { 
      font-size: 55px;
      line-height: 64px;
    };
  };
    .welcome-subheadline{
      font-size: 23px;
      line-height: 28px;
      opacity: 0.7;
      padding-top: 20px;
      @include media-breakpoint-up(md) { 
        line-height: 30px;
      };
    };
  };

@include keyframes(fadein) {
  0%   {opacity: 0; }
  100% { opacity: .9 }
}
//=====================//
// End Header Styles //
//=====================//

//=====================//
// Menu Styles //
//=====================//
.menu  {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 50px;
  top: 40px;
  z-index: 100;
  div {
    background: #ffffff;
    height: 4px;
    width: 45px;
    margin-top: 10px;
    }
  &hover {
    #line2 {
      background: green;
    }
  }
}

//=====================//
// Menu Styles //
//=====================//

//=====================//
// Navigation Styles //
//=====================//
 .navigation {
   background: rgb(0, 0, 0);
   width: 80px;
   height:  270px;
   position: absolute;
   right: 37px;
   top: -183;
   padding-top: 10px;
   opacity: 0;
   @include media-breakpoint-up(md) { 
    right: 21px;
    width: 100px;
    background: rgba(0, 0, 0, 0.65);
  };
   svg {
     display: block;
     margin: 0 auto;
   }
 }
//=====================//
// End Navigation Styles //
//=====================//

//Tool Tips //
.tooltip-container {
  background: #666;
  color: $white;
  text-decoration: none;
  text-align: center;
  position: relative;
  left: -100px;
  top: -47px;
  visibility: hidden;
}

//=====================//
// Profile Styles //
//=====================//
#profile {
  padding: 100px 20px 20px;
  h1 {
    font-weight: 300;
  }
  p {
    font-size: 19px;
    line-height: 24px;
    @include media-breakpoint-up(md) { 
      font-size: 23px;
      line-height: 30px;
      max-width: 750px;
    };
  }
}
//=====================//
// End Profile  Styles //
//=====================//



//=====================//
// Body Styles //
//=====================//
body {
    font-family: $main-font;
    background: $gray;
    color: $white;
    background: rgb(17,9,46);
    background: -moz-linear-gradient(90deg, rgba(17,9,46,1) 0%, rgba(14,7,31,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(17,9,46,1) 0%, rgba(14,7,31,1) 100%);
    background: linear-gradient(90deg, rgba(17,9,46,1) 0%, rgba(14,7,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#11092e",endColorstr="#0e071f",GradientType=1);
    p {
      font-weight: 300;
      font-size: 24px;
      span {
        color: $teal;
        font-weight: bold;
      }
    }
}
//=====================//
// End Body Styles //
//=====================//





//=====================//
// Button Styles //
//=====================//
.button {
  display: inline-block;
  background-color: transparent;
  color: #e6e4ec;
  overflow: visible;
  border: 1px solid rgba(238,232,255,0.57);
  transition: background-color 0.3s ease, color 0.3s ease;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 10px 20px;
  margin: 20px 10px 40px 0;
  font-size: 12px;
  line-height: 30px;
  @include media-breakpoint-up(md) {
    padding: 10px 30px;
    margin: 20px 40px 40px 0;
  };
 
  }
//=====================//
// End Button Styles //
//=====================//

.logo {
  width: 100px;
  display: block;
  margin: 0 auto;
  padding: 24px 0;
  @include animation(fadein, 5s);
  @include media-breakpoint-up(md) {
      margin-left: 0;
      display: inline-block;
      width: 50px;
    }
}

.name2 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  @include animation(fadein, 5s);
  @include media-breakpoint-up(md) {
      text-align: left;
      display: inline-block;
      padding-left: 24px;
      font-size: 24px;
    }
}



//=====================//
// Navigation Styles //
//=====================//
.navigation {
  ul{
    list-style: none;
    margin-top: 24px;
    display: none;
    li {
      display: inline;
      padding: 10px;
      text-align: right;
      a {
        color: $white;
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
      }
    }
  }
}
//=====================//
// End Navigation Styles //
//=====================//

//=====================//
// Skills Styles //
//=====================//
#skill {
  height: 200px;
  display: flex;
  .col-12 {
    justify-content: space-evenly;
  }
  .skill-icons {
    width: 120px;
    margin: 0 32px
  }
}
//=====================//
// End Skills Styles //
//=====================//

//=====================//
// Work
//=====================//
#work {
  padding: 120px;
}
.work-row {
  padding: 30px 20px;
  background: rebeccapurple;
  margin-bottom: 20px;
}
.social {
  display: block;
}
.social-icon {
  height: 40px;
  margin: 10px 30px 30px 0;
}
//=====================//

//=====================//
// Footer Styles //
//=====================//
#footer {
  p{
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
//=====================//
// End Footer Styles //
//=====================//
